@charset "UTF-8";
:root {
  --text_color: #fff;
  --back_main_color: #333333;
  --back_color: #000;
  --base_white: #fff;
  --scroll_thumb: #000;
  --cart_color: #707070;
  --invert_color: #000;
  --spacing-supsmall: 8px;
  --spacing-small: 12px;
  --spacing-medium: 20px;
  --spacing-large: 25px;
  --box-shadow: 0 16px 24px 2px rgba(33,37,41,.02),
  	0 6px 30px 5px rgba(33,37,41,.04),
  	0 8px 10px -5px rgba(33,37,41,.1);
  --auth_info_outline_color: #f7f5f5;
  --auth_input_hover_color: #f7f5f5;
  --auth_input_focus_color: #f7f5f5;
  --auth_box-shadow_color: rgb(202, 198, 198);
  --outline_btn_color: #807e7e;
  --hover_color_signin: #4071a3;
  --back_color_logout_btn: #f14d47;
}

*,
*::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p,
a {
  text-decoration: none;
  color: azure;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  color: var(--text_color);
  font-weight: 500;
  font-family: "Titillium Web";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--back_main_color);
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 45;
  background-color: var(--back_color);
  position: fixed;
}

.header-container {
  max-width: 1260px;
  margin: 0px auto;
  box-sizing: content-box;
  display: flex;
  min-height: 90px;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-size: 35px;
  font-weight: 700;
  color: inherit;
  color: var(--text_color);
}

.header-counter {
  margin-left: auto;
  font-weight: bold;
  cursor: pointer;
}

.header-counter i {
  color: var(--text_color_head);
}

._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.acoount-elem {
  height: 40px;
  width: 75px;
  background-color: var(--back_color_footer_black);
  color: var(--text_color);
  font-size: 16px;
  cursor: pointer;
}

.acoount-elem:hover {
  background-color: var(--hover_color_signin);
  outline: 2px solid var(--outline_btn_color);
  border-radius: 0.1vw;
}

.acoount_btn {
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 10px;
}

.shop-part {
  max-width: 1100px;
  margin-top: 140px;
  margin-left: 420px;
}

.sorts {
  display: flex;
  margin: 0px auto;
  margin-top: 140px;
  max-width: 1260px;
  justify-content: flex-end;
}

.admin {
  max-height: 500px;
  min-height: 250px;
  margin-top: 90px;
  margin-bottom: 200px;
}

.adminPanel {
  margin: 0px auto;
}

.admin-add-elem {
  height: 24px;
  width: 170px;
  font-size: 20px;
  display: inline-block;
  margin-left: 30px;
  background-color: var(--back_color_footer_black);
  color: var(--text_color);
  outline: 2px solid var(--outline_btn_color);
  border-radius: 0.1vw;
  cursor: pointer;
  text-align: center;
}

.admin-add-elem:hover {
  background-color: var(--hover_color_signin);
}

.admin-add-elem_btn {
  margin: 0px auto;
  top: 2px;
  position: relative;
}

.adminPanel_logout {
  margin-top: 20px;
  text-align: center;
  margin: 0px auto;
}

.logout_btn {
  height: 40px;
  width: 110px;
  background-color: var(--back_color_footer_black);
  color: var(--text_color);
  outline: 2px solid var(--outline_btn_color);
  border-radius: 0.1vw;
  font-size: 16px;
  cursor: pointer;
}

.logout_btn:hover {
  background-color: var(--back_color_logout_btn);
}

.create {
  max-height: 500px;
  min-height: 250px;
  max-width: 1260px;
  margin: 0px auto;
  margin-top: 90px;
  margin-bottom: 200px;
}

.create-form_part {
  margin-bottom: 25px;
}

.create-form_part_label {
  margin-right: 10px;
}

.create-form_part_input {
  height: 35px;
  width: 290px;
  outline: 1px solid var(--auth_info_outline_color);
  border-radius: 0.1vw;
  font-size: 18px;
  padding-left: 5px;
}

.create-form_part_input::placeholder {
  font-size: 16px;
}

.create-form_part_input:hover {
  outline: 2px solid var(--outline_signIn_btn_color);
  box-shadow: 0 0 5px var(--auth_box-shadow_color);
}

.create-form_part_input:focus {
  outline: 2px solid var(--auth_input_focus_color);
  box-shadow: 0 0 7px var(--auth_box-shadow_color);
}

.sort-elem {
  font-size: 20px;
  display: inline-block;
  margin-left: 30px;
}

.prod-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.prod-element {
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  box-shadow: var(--box-shadow);
  margin: 0px 0px var(--spacing-medium) 0px;
  background-color: #4c4d4d;
  font-size: 18px;
}

.prod-element__name {
  text-align: center;
  font-weight: bold;
}

.prod-element__img {
  width: 100%;
  height: 385px;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-medium);
  object-fit: contain;
}

.prod-element__exh-title {
  padding: 0px var(--spacing-small);
}

.prod-element__author {
  padding: 0px var(--spacing-small);
}

.prod-element__style_size {
  padding: 0px var(--spacing-small);
}

.prod-element__year {
  text-align: center;
}

.prod-element__price {
  padding: 0px var(--spacing-small);
  float: left !important;
  display: flex;
  height: 32px;
  align-items: center;
}

.prod-element__btn {
  padding: 0px var(--spacing-small);
  float: right !important;
  margin-right: var(--spacing-small);
  cursor: pointer;
}

.shopping-container {
  width: 30%;
  position: fixed;
  top: 30.5%;
  left: 70.2%;
  min-height: 200px;
  max-height: 425px;
  width: 610px;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: var(--spacing-small) var(--spacing-small) var(--spacing-large) var(--spacing-small);
  border-top: 2px solid var(--base_white);
  border-radius: 10px;
  z-index: 100;
  box-shadow: var(--box-shadow);
  background: var(--cart_color);
}

.shopping-element__info {
  width: 210px;
  height: 120px;
  white-space: nowrap;
}

.shopping-element__name {
  padding: var(--spacing-supsmall);
  font-weight: bold;
}

.shopping-element__author {
  padding: var(--spacing-supsmall);
  max-width: 150px;
}

.shopping-element__size {
  padding: var(--spacing-supsmall);
  max-width: 110px;
}

.shopping-element__img {
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  width: 170px;
  max-width: 230px;
  height: 150px;
  max-height: 290px;
  object-fit: contain;
}

.shopping-element__img img {
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
}

.shopping-element__price {
  padding: var(--spacing-supsmall);
  max-width: 110px;
  max-height: 110px;
}

scrollbar, scrollbar .scrollbar-track-y {
  display: block;
  position: relative;
  overflow: scroll;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s 1s ease-out, background 0.5s ease-out;
}

scrollbar .scroll-content, [data-scrollbar] .scroll-content {
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

.scroll-content {
  transform: translate3d(0px, -555px, 0px);
}

.scrollbar-track scrollbar-track-x {
  display: none;
}

.basket-elements {
  margin: 30px 5.5px;
  overflow-x: hidden;
  height: 285px;
}

.basket-elements::-webkit-scrollbar {
  width: 5px;
  background-color: var(--base_white);
}

.basket-elements::-webkit-scrollbar-thumb {
  background-color: var(--scroll_thumb);
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

.shopping__close {
  position: fixed;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 7px;
  background-image: url(../sass/img/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}

.shopping__clear {
  padding-top: 3px;
  position: absolute;
  width: 78.5px;
  height: 25px;
  top: 342px;
  left: 29px;
  cursor: pointer;
}

.shopping__clear:hover {
  border-bottom: 0.5px solid var(--text_color);
}

.shopping-cart_sum {
  position: absolute;
  top: 342px;
  left: 244px;
}

.shopping-cart__info {
  width: 200px;
  height: 25px;
  font-weight: 900;
  font-size: 20px;
}

.pages {
  width: 1260px;
  margin: 0px auto;
}

.glyphicon {
  display: inline-block;
  padding: 0 5px;
}

.glyphicon-chevron-right:after {
  content: "»";
}

.glyphicon-chevron-left:before {
  content: "«";
}

.footer {
  text-align: center;
  background-color: var(--back_color);
  padding: 25px 0px;
}
.footer_socials {
  margin: 0px 0px 20px;
}

.contacts-footer {
  display: flex;
  justify-content: center;
}
.contacts-footer_item {
  margin: 0px 20px;
  padding: 0px 0px 0px 35px;
  flex-wrap: wrap;
  line-height: 142%;
  min-height: 40px;
  color: var(--invert_color);
  font-weight: 500;
  font-size: 22px;
}
.contacts-footer_item:hover {
  text-decoration: underline;
}
.contacts-footer_item_phone {
  background: url("../icons/phone.svg") left no-repeat;
  filter: invert(1);
}
.contacts-footer_item_map {
  background: url("../icons/map_pin.svg") left no-repeat;
  filter: invert(1);
}
.contacts-footer_item_email {
  background: url("../icons/email.svg") left no-repeat;
  filter: invert(1);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_footer_item {
  margin: 0px 10px 20px;
  width: 44px;
  height: 44px;
}
.social_footer_item:hover {
  border-bottom: 1.5px solid var(--text_color);
}
.social_footer_item img {
  width: 40px;
  height: 40px;
  object-fit: center;
  filter: invert(1);
}

.brend {
  margin-top: 10px;
}

.authorization_panel {
  max-height: 600px;
  min-height: 250px;
  margin: 0px auto;
  margin-top: 210px;
  margin-bottom: 230px;
  max-width: 1240px;
  text-align: center;
}

.authorization_panel-text {
  font-size: 24px;
}

.authorization_panel-box {
  margin: 0px auto;
  margin-top: 35px;
  max-width: 560px;
}

.login, .password, .rememberMe {
  margin-bottom: 25px;
}

.login_label, .password_label {
  margin-right: 10px;
}

.login_input, .password_input, .register_input {
  height: 35px;
  width: 290px;
  outline: 1px solid var(--auth_info_outline_color);
  border-radius: 0.1vw;
  font-size: 18px;
  padding-left: 5px;
}

.login_input::placeholder, .password_input::placeholder, .register_input::placeholder {
  font-size: 16px;
}

.login_input:hover, .password_input:hover, .register_input:hover {
  outline: 2px solid var(--outline_signIn_btn_color);
  box-shadow: 0 0 5px var(--auth_box-shadow_color);
}

.login_input:focus, .password_input:focus, .register_input:focus {
  outline: 2px solid var(--auth_input_focus_color);
  box-shadow: 0 0 7px var(--auth_box-shadow_color);
}

.rememberMe_label {
  vertical-align: top;
  font-size: 17px;
  margin-right: 10px;
}

.rememberMe_input {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.submit_btn {
  height: 40px;
  width: 110px;
  background-color: var(--back_color_footer_black);
  color: var(--text_color);
  outline: 2px solid var(--outline_btn_color);
  border-radius: 0.1vw;
  font-size: 16px;
  cursor: pointer;
}

.submit_btn:hover {
  background-color: var(--hover_color_signin);
}
