
 <footer class="footer">
	    <div class="footer_content _container">
	    	<div class="footer_socials">
	    		<a href="https://www.instagram.com/p/CfD1wrOsk09/" target="_blank" class="social_footer_item">
					<img src="~/icons/instagram-brands.svg" alt="social"> 
				</a>
				<a href="https://twitter.com/ZelenskyyUa" target="_blank" class="social_footer_item">
					<img src="~/icons/twitter-square-brands.svg" alt="social"> 
				</a>
	    		<a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fzelenskiy.official" target="_blank" class="social_footer_item">
					<img src="~/icons/facebook-brands.svg" alt="social"> 
				</a>
				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="social_footer_item">
					<img src="~/icons/youtube-brands.svg" alt="social"> 
				</a>
	    	</div>
	    	<div class="footer_info info">
	    		<a href="tel:@Config.CompanyPhoneShort" class="contacts-footer_item contacts-footer_item_phone">@Config.CompanyPhone</a>
				<a href="https://www.google.com/maps/place" class="contacts-footer_item contacts-footer_item_map">вул. Політехнічна, 6</a>
				<a href="mailto:sacriart@gmail.com" class="contacts-footer_item contacts-footer_item_email">@Config.CompanyEmail</a>
	    	</div>

	    	@*<p class="brend">made by Tereshchenko Kyrylo</p>*@
	    	
	    </div> 	
</footer>