


<header class="header">
		<div class="header_container _container">
			@if (ViewBag.Title != null)
			{
				<a href="" class="header_logo">
					@ViewBag.Title
				</a>
			}
			else {
				<a href="" class="header_logo">
					@Config.CompanyName
				</a>
			}


			<div class="header">
				<div class="header-container">
						<a asp-controller="Shop" asp-action="Index"  class="header_logo">
							SacriShop
						</a>
						<div class="acoount-elem">
							<a asp-area="" asp-controller="Account" asp-action="Index" class="acoount_btn">Log in</a>
						</div>
						@*<div class="acoount-elem">
							<a asp-area="User"  asp-page="/SignUp" class="acoount_btn">Sign up</a>
						</div>*@
						
				</div> 
			</div>

			
			@*<nav class="header_menu menu">
				<ul id="menu" class="menu_list">
					<li class="menu_item">
						<a href="#about_us" class="menu_link">
							Home
						</a>
					</li>
					<li class="menu_item">
						<a href="#exhibition" class="menu_link">
							Exibition
						</a>
					</li>
					<li class="menu_item">
						<a href="#team" class="menu_link">
							Our Team
						</a>
					</li>
					<li class="menu_item">
						<a href="~/sacrishop/sacrishop.html" target="_blank" class="menu_link"> href="@Url.Action("Shop","Home")"
 							Shop
						</a>
					</li>
				</ul>
			</nav>*@

		</div> 
</header>